# Ignore temp files
*~
*.swp

# Ignore generated prompts
*.lcp

# Ignore build files
dist
build

# Ignore python cache files
**/__pycache__

# Ignore code coverage reports
.coverage
htmlcol
.pytest_cache

# Ignore virtual environment
venv

# Ignore conversation and log files
conversations

# Ignore humbug mindspace files
.humbug

# Ignore Mac system files
.DS_Store
