# Ignore temp files
*~
*.swp

# Ignore build files
/dist
/build

# Ignore python cache files
**/__pycache__

# Ignore code coverage reports
.coverage
/htmlcov
/.pytest_cache

# Ignore virtual environment
/venv

# Ignore humbug mindspace files
/.humbug

# Ignore Mac system files
.DS_Store
