# Ignore temp files
*~
*.swp

# Ignore build files
/dist
/build

# Ignore python cache files
**/__pycache__

# Ignore code coverage reports
.coverage
/htmlcov
/.pytest_cache

# Ignore virtual environment
/venv

# Ignore conversations in the main coversations directory, but allow them in the saved sub-directory
/conversations
!/conversations/saved

# Ignore humbug mindspace files
/.humbug

# Ignore Mac system files
.DS_Store

# Ignore the planner app
/tools/planner

# Ignore benchmark test results
/tools/aifpl_benchmark/benchmark_results.json
